<section id="seccionVerdestino">
    <div class="wrapper">
        <div class="container-fluid">
            {{#if result}}
                <div class="row">
                    <div class="col-md-6">
                        <div id="divImagenViaje">
                            <img src="{{result.path}}" class="img-fluid" alt="{{travel}}">
                        </div>
                    </div>
                    <div class="col-md-6 infoViaje">
                        <div>
                            <h1>{{result.travel}}</h1>
                            <h6>{{result.description}}</h6>
                            <div>
                                <span class="spanPrecioViaje">{{result.price}}&euro;</span>
                            </div>
                            <div class="divPrecioViaje">
                                <a class="btn btn-outline-primary btn-sm" href="/comprar/{{result.id}}">Añadir a la cesta</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</section>