<p>{{texto}}</p>
<br>
<a href={{link}}>Activar cuenta</a>
<br>

<!--<div>-->
    <!--<form action="{{link}}" method="post">-->
        <!--<div>-->
            <!--<input type="hidden" name="id" value="{{id}}">-->
        <!--</div>-->
        <!--<div>-->
            <!--<input type="hidden" name="email" value="{{email}}">-->
        <!--</div>-->
        <!--<div>-->
            <!--<input type="hidden" name="hash" value="{{hash}}">-->
        <!--</div>-->
        <!--<div>-->
            <!--<input type="submit" value="Activar">-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->